.button-like {
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/images/button-like-img.svg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in;
  width: 21.98px;
  height: 20.32px;
}

.button-like:hover {
  transform: scale(1.3);
}

.button-like_active {
  background-image: url('../../../assets/images/button-like-img-active.svg');
}

/* Cтили для кнопоки в Storybook */
#storybook-root > .button-like {
  width: 110px;
  height: 52px;
}
#story--uikit-buttons-buttonlike--primary--primary-inner, #story--uikit-buttons-buttonlike--primary-inner{
  background-color: rgba(232, 230, 230, 0.695);
}
