.popup-auth__form {
  display: flex;
  flex-direction: column;
}

.popup-auth__wrapper-input {
  position: relative;
}

.popup-auth__input {
  padding: 0;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid #8B52F6;
  border-radius: 20px;
  margin-bottom: 16px;
  outline: none;

  
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}
.popup-auth__input::placeholder {
  color: #9A9A9A;
}
.popup-auth__button-hide-show-password {
  position: absolute;
  top: 25%;
  right: 22px;
  width: 19.5px;
  height: 17.5px;

  background-color: transparent;
  background-image: url(../../../images/show-hide-password.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  border: none;
  cursor: pointer;
}

.popup-auth__input:last-child {
  margin-bottom: 0;
}
.popup-auth__button-action {
  width: 100%;
  height: 50px;
  margin-top: 20px;

  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 20px;
  background: #8B52F6;

  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  
  cursor: pointer;
}

.popup-auth__test-agreement {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, .5);

  margin-top: 8px;
}
.popup-auth__span-registration {
  font-weight: 700;
  color: rgba(0, 0, 0, .75);
}
.popup-auth__span-agreement {
  color: #8B52F6;
}