.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form__wrapper-input {
  position: relative;
  margin-bottom: 16px;
}

.auth-form__margin-bottom_clear {
  margin-bottom: 0;
}

.auth-form__input {
  padding: 0;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid #8B52F6;
  background-color: transparent;
  border-radius: 20px;
  outline: none;

  
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #000;

  transition: border-color .3s ease-in;
}
.auth-form__input::placeholder {
  color: #9A9A9A;
}

.auth-form__input-border-error {
  border-color: #EA3057 !important;
}
.auth-form__input-error-data {
  display: block;
  color: #EA3057;
  font-size: 16px;
  line-height: 22px;
  margin-top: 3px;
}
.auth-form__display_none {
  display: none;
}

.auth-form__button-hide-show-password {
  position: absolute;
  top: calc(50px * .5);
  transform: translate(0, -50%);
  right: 22px;
  width: 19.5px;
  height: 17.5px;

  background-color: transparent;
  background-image: url(../../../images/show-hide-password.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  border: none;
  cursor: pointer;
}

.auth-form__input:last-child {
  margin-bottom: 0;
}
.auth-bottom__forgive-password-containter {
  display: flex;
  flex-direction: column;
}
.auth-bottom__forgive-password {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  
  color: #8B52F6;
  align-self: flex-end;

  margin-top: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.auth-form__button-action {
  width: 100%;
  height: 50px;
  margin-top: 20px;

  box-sizing: border-box;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 50px;
  background: 
    radial-gradient(53.99% 245.51% at 94.46% 100%, #EA3057 0%, rgba(234, 48, 87, 0) 100%),
    linear-gradient(118.28deg, #8B52F6 22.11%, #3A66FF 88.65%);

  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #fff;
  
  cursor: pointer;
}

.auth-form__text-agreement {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: rgba(0, 0, 0, .5);

  margin-top: 8px;
}
.auth-form__span-registration {
  font-weight: 700;
  color: rgba(0, 0, 0, .75);
}
.auth-form__link-agreement {
  color: #8B52F6;
  text-decoration: none;
}