.button {
  border: 1px solid transparent;
  outline: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

.button:hover {
  opacity: 0.5;
}

.button_type_primary {
  background-color: #8b52f6;
  color: #fff;
}

.button_type_primary-outlined {
  border-color: #8b52f6;
  color: #8b52f6;
}

.button_type_light {
  background-color: #fff;
  color: #191919;
}

.button_type_light-outlined {
  border-color: #fff;
  color: #fff;
}

.button_type_dark {
  background-color: #191919;
  color: #fff;
}

.button_type_dark-outlined {
  border-color: #191919;
  color: #191919;
}

.button_type_gradient {
  background: radial-gradient(251.38% 116.24% at 94.46% 100.00%, #EA3057 0%, rgba(234, 48, 87, 0.00) 100%), linear-gradient(170deg, #8B52F6 16.15%, #3A66FF 73.96%);
  color: #fff;
}

.button_type_gray-outlined {
  border-color: #4c4f52;
  color: #4c4f52;
}

.button_type_disabled {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  color: #fff;
}

/* На время стили для кнопок в Storybook */
#storybook-root .button {
  width: 110px;
  height: 52px;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}