.review {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.review__info {
  width: 100%;
  max-width: 743px;
}

.review__ui-group {
  display: flex;
  justify-content: space-between;
}

.review__ui-group-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 440px;
}

.review__icon {
  max-height: 37px;
  cursor: pointer;
}

.review__ui-group-rating {
  display: flex;
  gap: 39px;
  margin-bottom: 13px;
}

.review__ui-group-status {
  display: flex;
  align-items: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.601px;
  /* 130.009% */
  color: #9A9A9A;
}

.review__date {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.601px;
  /* 130.009% */
  margin-bottom: 8px;
  color: #9A9A9A;
}

.review__editing-wrapper {
  display: flex;
  gap: 19px;
}

.review__comment {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  color: #4C4F52;
  max-width: 678px;
}

.form-review__comment-input {
  box-sizing: border-box;
  padding: 30px 18px;
  border-radius: 15px;
  border: 2px solid #191919;
  width: 100%;
  max-width: 740px;
  font-feature-settings: 'clig' off, 'liga' off;
  /* web/P */
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  min-height: 200px;
  color: #4C4F52;
}

.form-review__comment-input:focus {
  outline-style: none;
  border: 2px solid #8B52F6;
}

.form-review__wrapper {
  display: flex;
  gap: 22px;
  margin-top: 16px;
}

.review__comment-input::placeholder {
  
}

.form-review__button {
  padding: 12px 24px;
  border-radius: 50px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}