.calendar {
  max-width: 1120px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.calendar__container {
  display: flex;
  max-width: 1017px;
  position: relative;
  overflow: hidden;
  margin: auto;
  /* width: calc(39 * 33px); */
}

.dates-visible {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(22 * 54px);
  /* overflow: hidden; */
}

.arrow {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #9A9A9A;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
