.location-modal {
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  padding: 36px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  position: absolute;
  box-sizing: border-box;
  top: 71px;
  left: 18.2%;
  width: 100%;
  min-height: 220px;
  box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.18), -1px -4px 7px 0px rgba(0, 0, 0, 0.18);
  z-index: 10;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.location-modal_hidden {
  display: none;
}

.location-modal::before {
  content: '';
  width: 0;
  height: 0;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.location-modal__text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.location-modal__title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 31.8px;
  letter-spacing: 0.15px;
  margin: 15px 0 24px;
  font-family: 'Unbounded', Arial, Helvetica, sans-serif;
}

.location-modal__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.location-modal__button {
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}