.city-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.city-list__city {
  color: #191919;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  display: block;
  transition: all .4s ease;
  box-sizing: border-box;
  padding: 5px 50px;
}

.city-list__city:hover {
  background-color: rgba(0, 0, 0, 0.07);
}