body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Nunito Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('./assets/fonts/fonts.css');
@import url('./App.css');
@import url('./components/AboutEvent/AboutEvent.css');
/* @import url('./components/Breadcrumbs/BreadCrumbs.css'); */
@import url('./components/Buttons/Button/Button.css');
@import url('./components/OrderForm/OrderForm.css');
@import url('./components/Buttons/ButtonLike/ButtonLike.css');
@import url('./components/Buttons/ButtonShare/ButtonShare.css');
@import url('./components/Buttons/ButtonToBuy/ButtonToBuy.css');
@import url('./components/Calendar/Calendar.css');
@import url('./components/CityList/CityList.css');
@import url('./components/CityPopup/CityPopup.css');
@import url('./components/CitySearch/CitySearch.css');
@import url('./components/EventCard/EventCard.css');
@import url('./components/EventCards/EventCards.css');
@import url('./components/EventPage/EventPage.css');
@import url('./components/EventLocation/EventLocation.css');
@import url('./components/EventsCardList/EventsCardList.css');
@import url('./components/HiddenText/HiddenText.css');
@import url('./components/LocationModal/LocationModal.css');
@import url('./components/MainFrame/MainFrame.css');
@import url('./components/Map/Map.css');
@import url('./components/Month/Month.css');
@import url('./components/NoResult/NoResult.css');
@import url('./components/NoResultPage/NoResultPage.css');
@import url('./components/PaymentSuccessPopup/PaymentSuccessPopup.css');
@import url('./components/PaymentPopup/PaymentPopup.css');
