.ticket-review {
  position: relative;
  width: 360px;
  box-sizing: border-box;
  height: 275px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), lightgray 50% / cover no-repeat;
}

.ticket-review_type_modified {
  /* transform: scale(.1); */
  width: 153px;
  height: 149px;
}

.ticket-review__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.ticket-review__wrapper {
  position: absolute;
  top: 211px;
  left: 11.29px;
}

.ticket-review__wrapper_type_modified {
  top: 100px;
  left: 5px;
}

.ticket-review__title {
  margin: 0;
  font-family: Unbounded;
  font-size: 21.274px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
  /* 22.551px */
  letter-spacing: 0.106px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 348px;
}

.ticket-review__title_type_modified {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 31.8px */
  letter-spacing: 0.15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 140px;
  
}

.ticket-review__date {
  font-family: Nunito Sans;
  font-size: 11.346px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.601px;
  /* 137.5% */
  /* 137.5% */
  color: #FFFFFF;
}

.ticket-review__date_type_modified {
  font-size: 10px;
}

.ticket-review__time {
  margin-top: 7.8px;
  display: flex;
  align-items: center;
}

.ticket-review__time_type_modified {
  margin-top: 1px;
}

.ticket-review__icon {
  display: inline-block;
  width: 21px;
  height: 24px;
  background: url('../../../assets/images/time.svg') no-repeat;
  background-size: 15px 15px;
  background-position: 0;
}