.month {
  margin-right: 26px;
}

.month:last-of-type {
  margin-right: 0;
}

.month__name {
  font-family: 'Nunito Sans';
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 80px;
  text-decoration: underline;
  position: sticky;
  top: 0;
  z-index: 2;
}

.month__name::first-letter {
  text-transform: uppercase;
}

.dates {
  display: flex;
  transition: transform 0.5s ease;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 13.6px;
  cursor: pointer;
  width: 33px;
}

.date:last-of-type {
  margin-right: 0px;
}

.date__selected {
  background: #8B52F6;
  border-radius: 50%;
  color: #FFFFFF;
}

.date__weekend {
  color: #EA3057;
}

.date__day {
  font-family: 'Nunito Sans';
  font-weight: 700;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 2px;
  padding: 4px 0;
}

.date__weekday {
  font-family: 'Nunito Sans';
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
}